  <br>
    <h3>{{post.title}}</h3>
  <br>
    <p>{{post.content}}</p>
  <br>
{{#if post.editable}}
  <button {{action 'delete' post}}>Delete</button>
  {{!-- <button>Edit Post</button> --}}
  {{blog-post/edit post=post edit='edit'}}

{{/if}}
