@import "ember-bootstrap/bootstrap";

.edit-hidden .edit-form{
  display: none;
}

.new-hidden form{
  display: none;
}

body {
  width: 90%;

}

.sign-in-post {
  text-align: center;
  color: gray;
  font-size: 20px;
}

.delete-button {
  text-decoration: none;
  padding: 3px 15px;
}

hr {
  color: gray;
}

.new-post-content {
  // padding: 10px;
  height: 100px;
  // margin: 10px 0;
}

.updateformhidden :not(:first-child) {
  display: none;
}

.update-post-hidden :not(:first-child) {
  display: none;
}

.updatepostformhidden :not(:first-child) {
  display: none;
}

.edit-comment {
  // text-decoration: none;
  margin: 3px;
}
.comment-buttons {
  margin: 5px;
  display: inline-flex;
  flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
}

.comment {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.comment-count {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-style: oblique;
  float: right;
}

.delete-post {
  text-decoration: none;
  float: right;
  clear: left;
}

.user-show {
  float: right;
  font-size: 15px;
  font-style: italic;
  clear: both;
}

.user {
  font-size: 20px;
}
