<div>
  <input {{action 'toggleHidden'}} type="button" id="edit-toggle-button" value="Edit Post">
    <br><br>
    <form class="edit-form">
      <h6>Title:</h6>
      {{input value=post.title}}
      <h6>Post Content:</h6>
      {{input value=post.content}}
      <br>
      <button {{action 'edit' post}}>Save</button>
    </form>
</div>
