

<div>
  <h1>Just Say It</h1>
  <h2>A blog to get things off your chest</h2>
</div>

{{#link-to 'posts'}}Check out the posts{{/link-to}}
{{!--
<div class="col-md-8 col-md-offset-2">
  {{outlet}}
</div> --}}
