<br><br>
{{#link-to 'posts.new'}}<button>Add New Post</button>{{/link-to}}
{{outlet}}

<br><br>
{{#each model as |post|}}
  <h4>
    {{#link-to 'post' post}}
      {{post.title}}
    {{/link-to}}
  </h4>
  <br>
{{/each}}

{{!-- {{#link-to 'posts.new'}}<button>Add New Post</button>{{/link-to}}
{{outlet}} --}}
