<div>
  {{#each model as |post|}}
    <h3>
      {{#link-to 'post' post}}
        {{post.title}}
      {{/link-to}}
    </h3>
  {{/each}}
</div>
{{#link-to 'posts.new'}}<button >Create a new post</button>{{/link-to}}

<div class="col-md-8 col-md-offset-2">
  {{outlet}}
</div>
