
<h1>What's on Your Mind?</h1>
<br>
{{new-post createPost='createPost'}}
<br><hr><br>

<h3 class="recent">Recent Posts</h3>
<br>
{{#each model as |post|}}
<div class="posts-div">
  <div class="posts-recent">
    <h4 class="title-post">
      {{show-user user=post.user}}
      <ul>
        <li>{{#link-to 'post' post class="post-title"}}
          {{post.title}}
        {{/link-to}}</li>
      </ul>
    </h4>

  </div>
</div>
<br>
{{/each}}
{{outlet}}
